
<div class="container mt-5">
  <h1 class="c--primary fw--700">Carrito de Compras</h1>

  <div class="row">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <div class="row">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let cartProduct of cartProducts" [value]="cartProduct.id">
          <mat-divider></mat-divider>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              {{cartProduct.image}}
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              {{cartProduct.name}}
            </div>


        </mat-list-option>
      </mat-selection-list>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">


      <mat-card class="px-5 py-5">
        <mat-card-header>
          <mat-card-title class="c--warning fz--xxl">Resumen de Pedido</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <form [formGroup]="form">

            <mat-form-field class="w--100" appearance="standard">
              <mat-label class="c--primary fz--md fw--500">Nombre Cliente</mat-label>
              <input matInput placeholder="ingrese su nombre">
            </mat-form-field>

            <mat-form-field class="w--100" appearance="standard">
              <mat-label class="c--primary fz--md fw--500">Sub Total</mat-label>
              <input matInput >
            </mat-form-field>

            <mat-form-field class="w--100" appearance="standard">
              <mat-label class="c--primary fz--md fw--500">Envío</mat-label>
              <input matInput >
            </mat-form-field>

            <mat-form-field class="w--100" appearance="standard">
              <mat-label class="c--primary fz--md fw--500">total</mat-label>
              <input matInput >
            </mat-form-field>

          </form>
        </mat-card-content>
        <mat-card-actions class="text--center">
          <button mat-flat-button color="warn" class="py-2 px-4 fz--xl">Procesar Compra</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


</div>

